@import './../../../colours.scss';
$heigth: 125px;
$topSectionHeigth: $heigth * 0.5;
$bottonSectionHeigth: $heigth * 0.45;
$resultBar: $heigth * 0.05;
$fieldFontSize: $heigth * 0.20;
$fieldTopPadding: $heigth * 0.05;
.pksBuildCard {
    font-family: 'Inconsolata', sans-serif;
    background: $card-background;
    height: $heigth;
    width: 100%;
    border: 2px solid $assent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000; // overflow: hidden;
    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &>.topSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: $topSectionHeigth;
        &>.info {
            color: #FFFFFF;
            display: flex;
            flex-direction: column; 
            padding: $fieldTopPadding 10px;
            max-width: 50%;
            &>.field {
                margin-bottom: 10px;
                font-size: $fieldFontSize;
                padding: 10px 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                &:first-of-type {
                    padding-top: 0;
                }
                &:first-of-type {
                    padding-bottom: 0;
                }
                &>.label {
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
        }
    }
    &>.bottomSection {
        display: flex;
        height: $bottonSectionHeigth;
        position: relative;
        &>.result {
            &>* {
                font-family: 'Mogra', cursive;
                font-weight: bolder;
            }
            position: absolute;
            right: 0px;
            bottom:-25px;
           
        }
    }
    &>.resultBar {
        height: $resultBar;
        width: 100%;
        border-top: 1px solid black;
    }
}

.textOnTheRight {
    text-align: right;
}

.buildSucess {
    &>.bottomSection {
        &>.result {
            color: $sucess;
        }
    }
    &>.resultBar {
        background-color: $sucess;
    }
}

.buildFail {
    &>.bottomSection {
        &>.result {
            animation: blinkColor 1s infinite alternate;
            color: $failure;
        }
    }
    &>.resultBar {
        background-color: $failure;
    }
}

.building {
    &>.bottomSection {
        &>.result {
            color: $building;
        }
    }
    &>.resultBar {
        background-color: #000000;
    }
}

