.rootWrapper {
    display: flex;
    flex-direction: column;
    &>pks-top-bar {
        position: fixed;
        z-index: 1;
        width: 100%;
    }
    &>.cards {
        position: absolute;
        top: 50px;
        z-index: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        &>pks-build-card {
            flex-basis: 50%;
            box-sizing: border-box;
            padding: 10px;
        }
    }
}

@media (max-width: 1023px) {
    .rootWrapper {
        &>.cards {
        &>pks-build-card {
            flex-basis: 100%;
        }      }
    }
}