@import './colours.scss';
body {
    margin: 0;
    // overflow: hidden;
    // &:hover{
    //     overflow: auto;
    // }
}

.building {
    &>.resultBar>.progressBar {
        height: 100%;
        background: repeating-linear-gradient( 45deg, $building, $building 10px, darken($building, 15%) 10px, darken( $building, 15%) 20px);
        background-size: 300% 300%;
        animation: ProgressBarAnimation;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition: width 1s ease;
    }
}

@keyframes ProgressBarAnimation {
    0% {
        background-position: 100% 100%
    }
    50% {
        background-position: 0% 0%
    }
    100% {
        background-position: -100% 100%
    }
}


@keyframes blinkColor {
    0% {
        color: darkred;
    }
    100% {
        color: red;
    }
}

@keyframes blinkBackgroundRed {
    0% {
        background-color: darkred;
    }
    100% {
        background-color: red;
    }
}

@keyframes blinkBackgroundYellow {
    0% {
        background-color: darken($building, 15%);
    }
    100% {
        background-color:  $building;
    }
}

